<div class="bc-contain">
    <div class="titles">
        <h3 class="title">THIS PAGE DOES NOT WORK</h3>
        <div class="breadcrumb">
            <span class="item">Home</span>
            <i class="fas fa-caret-right"></i>
            <span class="item">Patients</span>
            <i class="fas fa-caret-right"></i>
            <!-- <span *ngIf="!patientId" class="item active">Add Patient</span>
            <span *ngIf="patientId" class="item active">Update Patient</span> -->
            <span class="item active">THIS PAGE DOES NOT WORK</span>
        </div>
    </div>
    <div class="buttons">
        <button class="grey-outline" routerLink="/app">Cancel</button>
        <!-- <button *ngIf="patientId && patient && patient.metadata && !patient.metadata.isDeleted" class="danger" (click)="archive()"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Archive</button>
        <button *ngIf="patientId && patient && patient.metadata && patient.metadata.isDeleted" class="danger" (click)="unarchive()"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Unarchive</button> -->
        <button class="primary" (click)="catForm.form.markAllAsTouched(); catForm.form.valid ? submit() : '';">Save</button>
    </div>
</div>
<div class="box mt-20">
    <h1>THIS PAGE DOES NOT WORK</h1>
    <h3 class="title mb-5">{{patientId ? 'Update Patient' : 'Add Patient'}}</h3>
    <form #catForm="ngForm" (submit)="submit()">
        <div class="flex g-20">
            <div class="input fc-33">
                <p class="label">First Name <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.fName" required #pFname="ngModel" name="pFname"/>
                <ng-container *ngIf="pFname.touched">
                    <p class="error" *ngIf="pFname.errors?.['required']">First Name is required</p>
                </ng-container>
            </div>
            <div class="input fc-33">
                <p class="label">Middle Name</p>
                <input type="text" [(ngModel)]="patient.mName" #pMname="ngModel" name="pMname"/>
            </div>
            <div class="input fc-33">
                <p class="label">Last Name <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.lName" required #pLname="ngModel" name="pLname"/>
                <ng-container *ngIf="pLname.touched">
                    <p class="error" *ngIf="pLname.errors?.['required']">Last Name is required</p>
                </ng-container>
            </div>
        </div>
        <div class="flex g-20">
            <div class="input fc-33">
                <p class="label">Gender</p>
                <select type="text" [(ngModel)]="patient.gender" #pGender="ngModel" name="pGender">
                    <option value="">Select gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <!-- <ng-container *ngIf="pGender.touched">
                    <p class="error" *ngIf="pGender.errors?.['required']">Gender is required</p>
                </ng-container> -->
            </div>
            <!-- <div class="input fc-33">
                <p class="label">Gender <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.gender" required #gender="ngModel" name="gender"/>
                <ng-container *ngIf="gender.touched">
                    <p class="error" *ngIf="gender.errors?.['required']">Gender is required</p>
                </ng-container>
            </div> -->
            <div class="input fc-33">
                <p class="label">Phone <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.phone" required #pPhone="ngModel" name="pPhone"/>
                <ng-container *ngIf="pPhone.touched">
                    <p class="error" *ngIf="pPhone.errors?.['required']">Phone is required</p>
                </ng-container>
            </div>
            <!-- <div class="input fc-33">
                <p class="label">DoB <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient?.dob.dobStr" required #dobStr="ngModel" name="dobStr"/>
                <ng-container *ngIf="dobStr.touched">
                    <p class="error" *ngIf="dobStr.errors?.['required']">DoB is required</p>
                </ng-container>
            </div> -->
            <div class="input fc-33" style="position: relative;">
                <p class="label">DoB <span class="required">*</span></p>
                <input [(ngModel)]="patient.dob.dob" [matDatepicker]="pickerStart"  required #txDate="ngModel" name="txDate" placeholder="Date From" (ngModelChange)="dobUpdated()" class="basic" />
                <mat-datepicker-toggle style="position: absolute; top: 23px; right: 5px;" matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
                <ng-container *ngIf="txDate.touched">
                    <p class="error" *ngIf="txDate.errors?.['required']">DoB is required</p>
                </ng-container>
            </div>
        </div>
        <div class="flex g-20">
            <div class="input fc-100">
                <p class="label">Street Address <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.street" required #pStreet="ngModel" name="pStreet"/>
                <ng-container *ngIf="pStreet.touched">
                    <p class="error" *ngIf="pStreet.errors?.['required']">Street address is required</p>
                </ng-container>
            </div>
        </div>
        <div class="flex g-20">
            <div class="input fc-33">
                <p class="label">City <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.city" required #pCity="ngModel" name="pCity"/>
                <ng-container *ngIf="pCity.touched">
                    <p class="error" *ngIf="pCity.errors?.['required']">City is required</p>
                </ng-container>
            </div>
            <div class="input fc-33">
                <p class="label">State <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.state" required #pState="ngModel" name="pState"/>
                <ng-container *ngIf="pState.touched">
                    <p class="error" *ngIf="pState.errors?.['required']">State is required</p>
                </ng-container>
            </div>
            <div class="input fc-33">
                <p class="label">Zip Code <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.zip" required #pZip="ngModel" name="pZip"/>
                <ng-container *ngIf="pZip.touched">
                    <p class="error" *ngIf="pZip.errors?.['required']">Zip code is required</p>
                </ng-container>
            </div>
        </div>
        <div class="separator colored mt-50"></div>
        <div class="flex g-20 mt-20">
            <div class="input fc-33">
                <p class="label">City <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.city" required #pCity="ngModel" name="pCity"/>
                <ng-container *ngIf="pCity.touched">
                    <p class="error" *ngIf="pCity.errors?.['required']">City is required</p>
                </ng-container>
            </div>
            <div class="input fc-33">
                <p class="label">State <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.state" required #pState="ngModel" name="pState"/>
                <ng-container *ngIf="pState.touched">
                    <p class="error" *ngIf="pState.errors?.['required']">State is required</p>
                </ng-container>
            </div>
            <div class="input fc-33">
                <p class="label">Zip Code <span class="required">*</span></p>
                <input type="text" [(ngModel)]="patient.zip" required #pZip="ngModel" name="pZip"/>
                <ng-container *ngIf="pZip.touched">
                    <p class="error" *ngIf="pZip.errors?.['required']">Zip code is required</p>
                </ng-container>
            </div>
        </div>
    </form>
</div>

<div *ngIf="patientId && patient && patient.metadata" class="item-history flex mt-20 g-20">
    <div class="fc-33 ind-history box">
        <p class="title">Created By</p>
        <div class="detailed">
            <div *ngIf="patient.metadata.createdBy && patient.metadata.createdBy.name" class="first">
                <div class="initials">{{patient.metadata.createdBy.name | initials}}</div>
            </div>
            <div class="second">
                <p class="big">{{patient.metadata.createdBy && patient.metadata.createdBy.name ? patient.metadata.createdBy.name : '-'}}</p>
                <p *ngIf="patient.metadata.createdOn" class="small">{{patient.metadata.createdOn | date: 'd MMM y h:mm a'}}</p>
            </div>
        </div>
    </div>
    <div class="fc-33 ind-history box">
        <p class="title">Last Edited By</p>
        <div class="detailed">
            <div *ngIf="patient.metadata.lastEditedBy && patient.metadata.lastEditedBy.name" class="first">
                <div class="initials">{{patient.metadata.lastEditedBy.name | initials}}</div>
            </div>
            <div class="second">
                <p class="big">{{patient.metadata.lastEditedBy && patient.metadata.lastEditedBy.name ? patient.metadata.lastEditedBy.name : '-'}}</p>
                <p *ngIf="patient.metadata.lastEditedOn" class="small">{{patient.metadata.lastEditedOn | date: 'd MMM y h:mm a'}}</p>
            </div>
        </div>
    </div>
    <div class="fc-33 ind-history box">
        <p class="title">Last Archived By</p>
        <div class="detailed">
            <div *ngIf="patient.metadata.deletedBy && patient.metadata.deletedBy.name" class="first">
                <div class="initials">{{patient.metadata.deletedBy.name | initials}}</div>
            </div>
            <div class="second">
                <p class="big">{{patient.metadata.deletedBy && patient.metadata.deletedBy.name ? patient.metadata.deletedBy.name : '-'}}</p>
                <p *ngIf="patient.metadata.deletedOn" class="small">{{patient.metadata.deletedOn | date: 'd MMM y h:mm a'}}</p>
            </div>
        </div>
    </div>
</div>