<div class="bc-contain">
    <div class="titles">
        <h3 class="title">USERS</h3>
        <div class="breadcrumb">
            <span class="item">Home</span>
            <i class="fas fa-caret-right"></i>
            <span class="item">Users</span>
            <i class="fas fa-caret-right"></i>
            <span *ngIf="userId" class="item">{{user.name}}</span>
            <i *ngIf="userId" class="fas fa-caret-right"></i>
            <span class="item active">{{userId ? 'Edit' : 'Add'}}</span>
        </div>
    </div>
    <div class="buttons">
        <button *ngIf="user._id != loggedInUser._id" class="grey-outline" routerLink="/users/list">Cancel</button>
        <button *ngIf="user._id == loggedInUser._id" class="grey-outline" routerLink="/profile">Cancel</button>
        <button class="primary" [disabled]="isLoading" (click)="
        basicInfo.form.markAllAsTouched(); 
        contactForm.form.markAllAsTouched(); 
        basicInfo.form.valid && contactForm.form.valid ? submit() : '';
        ">Save</button>
    </div>
</div>
<div class="flex mt-20 g-20">
    <div class="flex-child fc-40">
        <div class="box user-details">
            <h3 class="title">Basic Information</h3>
            <form #basicInfo="ngForm" (submit)="submit()">
                <div class="input">
                    <p class="label">Name <span class="required">*</span></p>
                    <input type="text" [(ngModel)]="user.name" required #userName="ngModel" name="userName"/>
                    <ng-container *ngIf="userName.touched">
                        <p class="error" *ngIf="userName.errors?.['required']">Name is required</p>
                    </ng-container>
                </div>
                <div class="input">
                    <p class="label">Username <span class="required">*</span></p>
                    <input type="text" [(ngModel)]="user.username" required #userNamee="ngModel" name="userNamee"/>
                    <ng-container *ngIf="userNamee.touched">
                        <p class="error" *ngIf="userNamee.errors?.['required']">Username is required</p>
                    </ng-container>
                </div>
                <div *ngIf="loggedInUser.role == 'Admin'" class="input">
                    <p class="label">Role <span class="required">*</span></p>
                    <select [(ngModel)]="user.role" required #userRole="ngModel" name="userRole">
                        <option *ngFor="let c of roles" [value]="c">{{c}}</option>
                    </select>
                    <ng-container *ngIf="userRole.touched">
                        <p class="error" *ngIf="userRole.errors?.['required']">Role is required</p>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
    <div class="flex-child fc-60">
        <div class="box">
            <h3 class="title mb-5">Contact Information</h3>
            <form #contactForm="ngForm" (submit)="submit()">
                <div class="input">
                    <p class="label">Email <span class="required">*</span></p>
                    <input type="email" [(ngModel)]="user.email" required #emailInput="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="emailInput"/>
                    <ng-container *ngIf="emailInput.touched">
                        <p class="error" *ngIf="emailInput.errors?.['required']">Email is required</p>
                        <p class="error" *ngIf="emailInput.errors?.['pattern']">Enter a valid email address</p>
                    </ng-container>
                </div>
                <div class="input">
                    <p class="label">Phone <span class="required">*</span></p>
                    <input type="text" [(ngModel)]="user.cellNum" required #phone="ngModel" name="phone"/>
                    <ng-container *ngIf="phone.touched">
                        <p class="error" *ngIf="phone.errors?.['required']">Valid phone is required</p>
                    </ng-container>
                </div>
            </form>
            
        </div>
    </div>
</div>

<div *ngIf="loggedInUser.role == 'Admin'" class="box mt-20 permissions">
    <h3 class="title mb-5">Permissions</h3>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.medicareEligibility">Medicare Eligibility</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.wellcareFromWellcare">Wellcare From Wellcare ID</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.wellcareFromMedicare">Wellcare From Medicare/Medicaid</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.medicarePCP">Medicare Physician(s)</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.united">United Eligibility</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.aetna">Aetna Eligibility</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.cigna">Cigna Eligibility</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.humana">Humana Eligibility</mat-checkbox>
    </div>
    <div class="hr separator"></div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.viewPatientsMenu">View Patients Menu</mat-checkbox>
        <mat-checkbox [(ngModel)]="user.permissions.viewPatients" class="ml-20">View Patients</mat-checkbox>
        <mat-checkbox [(ngModel)]="user.permissions.updatePatients" class="ml-20">Add/Update Patients</mat-checkbox>
        <mat-checkbox [(ngModel)]="user.permissions.getFiles" class="ml-20">View Patient Files</mat-checkbox>
        <mat-checkbox [(ngModel)]="user.permissions.uploadFiles" class="ml-20">Add/Update Patient Files</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.viewUsers">View Users</mat-checkbox>
        <mat-checkbox [(ngModel)]="user.permissions.updateUsers" class="ml-20">Update Users</mat-checkbox>
    </div>
    <div class="ind-row">
        <mat-checkbox [(ngModel)]="user.permissions.viewLogs">View Audit Logs</mat-checkbox>
    </div>
</div>