<div class="lc-top">
    <div class="old-flex">
        <div class="image-container">
            <div class="bg">
                <div class="overlay">
                    <div class="content">
                        <div class="fc">
                            <img src="assets/images/eslogo.png" class="logo" />
                            <p *ngIf="view == 'login'" class="title">Log in to Emdeon System</p>
                            <h2 *ngIf="view == 'forgot'" class="title">RESET PASSWORD</h2>
                            <h2 *ngIf="view == 'code'" class="title">Enter emailed one-time passcode</h2>
                            <form #loginForm="ngForm" (submit)="submit()">
                                <div *ngIf="view == 'login'" class="input">
                                    <p class="label">Username</p>
                                    <input type="email" [(ngModel)]="email" required #emailInput="ngModel" name="emailInput"/>
                                    <!-- <div [hidden]="emailInput.valid || emailInput.pristine" class="error">
                                        Email is required
                                    </div> -->
                                    <ng-container *ngIf="emailInput.touched">
                                        <p class="error" *ngIf="emailInput.errors?.['required']">Username is required</p>
                                    </ng-container>
                                </div>
                                <div *ngIf="view == 'login'" class="input">
                                    <p class="label">Password</p>
                                    <input [(ngModel)]="password" type="password" name="passInput" #passInput="ngModel" required />
                                    <ng-container *ngIf="passInput.touched">
                                        <p class="error" *ngIf="passInput.errors?.['required']">Password is required</p>
                                    </ng-container>
                                </div>
                                <div *ngIf="view == 'code'" class="input">
                                    <p class="label">{{message ? message : 'One-Time Passphrase'}}</p>
                                    <input [(ngModel)]="code" type="text" name="codee" #codee="ngModel" required />
                                    <div [hidden]="codee.valid || codee.pristine" class="error">
                                        Code is required
                                    </div>
                                </div>
                                <!-- <p *ngIf="view == 'code'" class="message">Enter email code</p> -->
                                <div class="action">
                                    <button *ngIf="view == 'login'"  type="submit" [disabled]="!loginForm.valid" class="primary">Email Login Code</button>
                                    <button *ngIf="view == 'forgot'"  type="submit" [disabled]="!loginForm.valid" class="primary">Send Reset Link</button>
                                    <button *ngIf="view == 'code'"  type="submit" [disabled]="!loginForm.valid" class="primary">Sign In</button>
                                </div>
                            </form>
                            <div class="forgot">
                                <!-- <p *ngIf="view == 'login'" (click)="view = 'forgot'" class="clickable">Forgot Password?</p> -->
                                <p *ngIf="view == 'forgot'" (click)="view = 'login'" class="clickable">Sign In</p>
                                <p *ngIf="view == 'code'" (click)="view = 'login'" class="clickable">Back</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>