<div *ngIf="startNum && endNum && pageNum" class="paginator-container">
    <div class="stats">
        Displaying {{startNum}}-{{endNum}} from {{totalCount}} records
    </div>
    <div class="change-per-page">
        <p>Showing</p>
        <select class="basic-list" [(ngModel)]="perPage" (ngModelChange)="perPageUpdatedLocal()">
            <option value="" disabled selected>Per Page Items</option>
            <option *ngFor="let opt of perPageOpts" [value]="opt">{{opt}}</option>
        </select>
        <p>items per page</p>
    </div>
    <div class="paginator">
        <p class="page" *ngIf="pageNum > 1" (click)="pageClicked(pageNum-1)"><i class="fas fa-arrow-circle-left"></i></p>

        <p [ngClass]="{'page-active': pageNum == 1}" *ngIf="totalPages >= 1" (click)="pageClicked(1)" class="page-list">1</p>

        <p *ngIf="pageNum > 2 && pageNum < totalPages && pageNum" (click)="pageClicked(pageNum-1)" class="page-list">{{pageNum-1}}</p>
        <p *ngIf="pageNum > 1 && pageNum < totalPages && pageNum" class="page-list page-active">{{pageNum}}</p>
        <p *ngIf="pageNum > 1 && pageNum < totalPages-1 && pageNum" (click)="pageClicked(pageNum+1)" class="page-list">{{pageNum+1}}</p>

        <p [ngClass]="{'page-active': pageNum == totalPages}" *ngIf="totalPages > 1" (click)="pageClicked(totalPages)" class="page-list">{{totalPages}}</p>

        <p class="page-list" *ngIf="pageNum < totalPages" (click)="pageClicked(pageNum+1)"><i class="fas fa-arrow-circle-right"></i></p>
    </div>
</div>
