<div class="popup">
    <i class="fas fa-robot icon-primary icon-round-popup"></i>
    <h4 *ngIf="what == 'add'">Add New Bot</h4>
    <h4 *ngIf="what == 'update'">Update Bot</h4>
    <form #passForm="ngForm">
        <div class="input">
            <p class="label">Username</p>
            <input type="text" [(ngModel)]="bot.username" required #username="ngModel" name="username"/>
            <ng-container *ngIf="username.touched">
                <p class="error" *ngIf="username.errors?.['required']">Username is required</p>
            </ng-container>
        </div>
        <div class="input">
            <p class="label">Password</p>
            <input type="text" [(ngModel)]="bot.password" required #password="ngModel" name="password"/>
            <ng-container *ngIf="password.touched">
                <p class="error" *ngIf="password.errors?.['required']">Password is required</p>
            </ng-container>
        </div>
        <div class="input">
            <p class="label">Email Code Received</p>
            <input type="text" [(ngModel)]="bot.myCgsCode" #myCgsCode="ngModel" name="myCgsCode"/>
        </div>
        <div class="input">
            <p class="label">Machine ID</p>
            <input type="text" [(ngModel)]="bot.machine" #machine="ngModel" name="machine"/>
        </div>
        <div class="input">
            <p class="label">Email</p>
            <input type="text" [(ngModel)]="bot.email" #emaill="ngModel" name="emaill"/>
        </div>
        <div *ngIf="what == 'update'" class="input">
            <p class="label">Status</p>
            <select type="text" [(ngModel)]="bot.status" required #status="ngModel" name="status">
                <option value="Idle">Idle</option>
                <option value="Ready">Ready</option>
            </select>
            <p>Update status if bot is running on same patient for more than 15 minutes</p>
        </div>
        <div class="input">
            <p class="label">Eligibility Platform</p>
            <select type="text" [(ngModel)]="bot.eligibilityPlatform" required #eligibilityPlatform="ngModel" name="eligibilityPlatform">
                <option value="MyCGS">MyCGS</option>
                <option value="Noridian">Noridian</option>
                <option value="Availity">Availity</option>
                <option value="Wellcare">Wellcare</option>
                <option value="OfficeAlly">OfficeAlly</option>
                <option value="OfficeAlly Claims">OfficeAlly Claims</option>
                <option value="MyCGS SNS">MyCGS SNS</option>
                <option value="Noridian SNS">Noridian SNS</option>
            </select>
        </div>
        <div *ngIf="bot.eligibilityPlatform == 'OfficeAlly Claims'" class="input">
            <p class="label">Client</p>
            <select type="text" [(ngModel)]="bot.client" required #client="ngModel" name="client">
                <option selected disabled value="">Assign Client</option>
                <option *ngFor="let client of clients" [value]="client._id">{{client.name}}</option>
            </select>
        </div>
        <div class="input">
            <p class="label">Code Type</p>
            <select type="text" [(ngModel)]="bot.codeType" required #codeType="ngModel" name="codeType">
                <option value="Email">Email</option>
                <option value="Authenticator">Authenticator</option>
            </select>
        </div>
        <div class="btns">
            <button class="grey-outline" (click)="close()">Cancel</button>
            <button type="submit" class="primary" (click)="passForm.form.markAllAsTouched(); passForm.form.valid ? submit() : '' ">Save</button>
        </div>
    </form>
</div>