<ng-container>
    <div class="bc-contain">
        <div class="titles">
            <h3 class="title">ERAs</h3>
        </div>
        <div class="buttons">
            <button class="primary" style="margin-left: 10px;" (click)="addEra()"><i class="fas fa-upload"></i>&nbsp;Import New ERA</button>
        </div>
    </div>
    <div class="box mt-20" style="padding: 0px; margin-bottom: 20px;">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <td>
                            <p>File Name</p>
                        </td>
                        <td>
                            <p>Status</p>
                        </td>
                        <td>
                            <p>Client</p>
                        </td>
                        <td>
                            <p>Check #</p>
                        </td>
                        <td>
                            <p>Check Amt</p>
                        </td>
                        <td>
                            <p>Check Date</p>
                        </td>
                        <td>
                            <p>Matches</p>
                        </td>
                        <td>
                            <p>Added On</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!list || !list.length">
                        <td colspan="4" class="text-center">No file found</td>
                    </tr>
                    <ng-container *ngFor="let item of list;">
                        <ng-container *ngIf="!item?.checks?.length">
                            <tr>
                                <td (click)="getS3File(item.s3Link, item.fileName)">
                                    <p style="color: #8400d9;" class="cell">{{item.fileName}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item.fileStatus}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item?.client?.name || 'Not Assigned'}}</p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <p class="cell">{{item.createdAt | date: 'd MMM y h:mm a'}}</p>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="item?.checks?.length">
                            <tr *ngFor="let check of item.checks;">
                                <td (click)="getS3File(item.s3Link, item.fileName)">
                                    <p style="color: #8400d9;" class="cell">{{item.fileName}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item.fileStatus}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item?.client?.name || 'Not Assigned'}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.checkNumber}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.checkAmount}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.checkDate?.month}}/{{check.checkDate?.day}}/{{check.checkDate?.year}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.nullMatch || 0}}|{{check.singleMatch || 0}}|{{check.multipleMatch || 0}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item.createdAt | date: 'd MMM y h:mm a'}}</p>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>