<ng-container>
    <div class="bc-contain">
        <div class="titles">
            <h3 class="title">ERAs</h3>
        </div>
        <div class="buttons">
            <button class="primary" style="margin-left: 10px;" (click)="addEra()"><i class="fas fa-upload"></i>&nbsp;Import New ERA</button>
        </div>
    </div>
    <div class="box mt-20" style="padding: 0px; margin-bottom: 20px;">
        <div class="filters flex g-20 mt-20" style="padding: 0 15px;">
            <div class="search-bar fc-25">
                <i class="fas fa-search"></i>
                <input [(ngModel)]="filterSearch" debounce (debouncedModelUpdate)="filterUpdated()" placeholder="Search" />
            </div>
            <div class="fc-25">
                <input class="basic" [(ngModel)]="filterInsurance" debounce (debouncedModelUpdate)="filterUpdated()" placeholder="Insurance" />
            </div>
            <div class="fc-25">
                <select [(ngModel)]="filterStatus" (ngModelChange)="filterUpdated()" class="basic">
                    <option value="" disabled selected>Status</option>
                    <option value="">All</option>
                    <option *ngFor="let opt of statusOpts" [value]="opt">{{opt}}</option>            
                </select>
            </div>
            <div class="fc-25">
                <select [(ngModel)]="filterClient" (ngModelChange)="filterUpdated()" class="basic">
                    <option value="" disabled selected>Client</option>
                    <option value="">All</option>
                    <option *ngFor="let opt of clientOpts" [value]="opt._id">{{opt.name}}</option>            
                </select>
            </div>
        </div>
        <div class="table-container mt-20">
            <table>
                <thead>
                    <tr>
                        <td>
                            <p>File Name</p>
                        </td>
                        <td>
                            <p>Status</p>
                        </td>
                        <td>
                            <p>Client</p>
                        </td>
                        <td>
                            <p>Check #</p>
                        </td>
                        <td>
                            <p>Check Amt</p>
                        </td>
                        <td>
                            <p>Check Date</p>
                        </td>
                        <td>
                            <p>Matches</p>
                        </td>
                        <td>
                            <p>Added On</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!list || !list.length">
                        <td colspan="4" class="text-center">No file found</td>
                    </tr>
                    <ng-container *ngFor="let item of list;">
                        <ng-container *ngIf="!item?.checks?.length">
                            <tr>
                                <td (click)="getS3File(item.s3Link, item.fileName)">
                                    <p style="color: #8400d9;" class="cell">{{item.fileName}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item.fileStatus}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item?.client?.name || 'Not Assigned'}}</p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <p class="cell">{{item.createdAt | date: 'd MMM y h:mm a'}}</p>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="item?.checks?.length">
                            <tr *ngFor="let check of item.checks;">
                                <td (click)="getS3File(item.s3Link, item.fileName)">
                                    <p style="color: #8400d9;" class="cell">{{item.fileName}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item.fileStatus}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item?.client?.name || 'Not Assigned'}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.checkNumber}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.checkAmount}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.checkDate?.month}}/{{check.checkDate?.day}}/{{check.checkDate?.year}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{check.nullMatch || 0}}|{{check.singleMatch || 0}}|{{check.multipleMatch || 0}}</p>
                                </td>
                                <td>
                                    <p class="cell">{{item.createdAt | date: 'd MMM y h:mm a'}}</p>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <div style="padding: 0px 15px 10px 15px; box-sizing: border-box; border-top: 1px solid #F5F5F6;">
                <emdeon-paginator [totalCount]="totalCount" [perPage]="perPage" [pageNum]="pageNum" (onPageChange)="pageChanged($event)" (perPageUpdated)="perPageUpdated($event)"></emdeon-paginator>
            </div>
        </div>
    </div>
</ng-container>