<div class="popup">
    <i class="fas fa-unlock-alt icon-primary icon-round-popup"></i>
    <h4>Change Password</h4>
    <form #passForm="ngForm">
        <div class="input">
            <p class="label">Password</p>
            <input type="password" [(ngModel)]="password" required #passs="ngModel" name="passs"/>
            <ng-container *ngIf="passs.touched">
                <p class="error" *ngIf="passs.errors?.['required']">Password is required</p>
            </ng-container>
        </div>
        <div class="input">
            <p class="label">Confirm Password</p>
            <input type="password" [(ngModel)]="confirmPassword" required #conpasss="ngModel" name="conpasss"/>
            <ng-container *ngIf="conpasss.touched">
                <p class="error" *ngIf="conpasss.errors?.['required']">Confirm is required</p>
                <p class="error" *ngIf="password != confirmPassword">Passwords do not match</p>
            </ng-container>
        </div>
        <div class="btns">
            <button class="grey-outline" (click)="close()">Cancel</button>
            <button type="submit" class="primary" (click)="passForm.form.markAllAsTouched(); passForm.form.valid ? changePass() : '' ">Save</button>
        </div>
    </form>
</div>