<div class="popup">
    <i class="fas fa-unlock-alt icon-primary"></i>
    <h4 class="common-title">Change Password</h4>
    <form #passForm="ngForm">
        <div class="mb-4">
            <p class="label text-slate-600">Password</p>
            <input type="password" [(ngModel)]="password" required #passs="ngModel" name="passs" class="input-box"/>
            <ng-container *ngIf="passs.touched">
                <p class="text-xs text-red-500" *ngIf="passs.errors?.['required']">Password is required</p>
            </ng-container>
        </div>
        <div class="mb-4">
            <p class="label text-slate-600">Confirm Password</p>
            <input type="password" [(ngModel)]="confirmPassword" required #conpasss="ngModel" name="conpasss" class="input-box"/>
            <ng-container *ngIf="conpasss.touched">
                <p class="text-xs text-red-500" *ngIf="conpasss.errors?.['required']">Confirm is required</p>
                <p class="text-xs text-red-500" *ngIf="password != confirmPassword">Passwords do not match</p>
            </ng-container>
        </div>
        <div class="btns">
            <button class="secondary-btn" (click)="close()">Cancel</button>
            <button type="submit" class="primary-btn" (click)="passForm.form.markAllAsTouched(); passForm.form.valid ? changePass() : '' ">Save</button>
        </div>
    </form>
</div>