<ng-container *ngIf="!noPatientFound">
    <div class="bc-contain">
        <div class="titles">
            <h3 *ngIf="thisUser.email == 'dmetlpc5@gmail.com'" class="title">SOCIAL MARKETING ELIGIBILITY</h3>
            <h3 *ngIf="thisUser.email != 'dmetlpc5@gmail.com'" class="title">FILES</h3>
        </div>
        <div class="buttons">
            <button class="primary" style="margin-left: 10px;" routerLink="/app/import-patients"><i class="fas fa-upload"></i>&nbsp;Import Patients</button>
            <div *ngIf="thisUser.role == 'Admin'" class="view-select">
                <i [ngClass]="{'active': currentView == 'grid'}" (click)="currentView='grid'" class="fas fa-grip-horizontal"></i>
                <i [ngClass]="{'active': currentView == 'table'}" (click)="currentView='table'" class="fas fa-table"></i>
            </div>
        </div>
    </div>
    <div *ngIf="!noPatientFound && currentView == 'grid'" class="grid-view mt-20" style="padding: 0px; margin-bottom: 20px;">
        <div class="grid-container">
            <div class="grid-item" *ngFor="let item of list;">
                <p class="title"><a (click)="getS3File(item._id.s3Key, item._id.fileName)">{{item._id.fileName}}</a></p>
                <p class="processor">{{item.whatis}}</p>
                <div *ngIf="item._id.warning" class="warning" [matTooltip]="item._id.warning">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="stats">
                    <div class="ind-stat">
                        <p class="title">Processed</p>
                        <p class="value" *ngIf="item.processing != 0">{{((100-(item.processing/item.total)*100)) | number: '1.2-2'}}%</p>
                        <p class="value" *ngIf="item.processing == 0">100%</p>
                    </div>
                    <div class="ind-stat">
                        <p class="title">Error</p>
                        <p class="value" *ngIf="item.error || item.dead">{{(((item.error+item.dead)/(item.total-item.processing))*100) | number: '1.2-2'}}%</p>
                        <p class="value" *ngIf="!item.error && !item.dead">0%</p>
                    </div>
                    <div class="ind-stat">
                        <p class="title">Found</p>
                        <p class="value" *ngIf="item.found">{{(((item.found)/(item.total-item.processing))*100) | number: '1.2-2'}}%</p>
                        <p class="value" *ngIf="!item.found">0%</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="card-footer">
                    <div class="timestamp">
                        <p class="time">{{item._id.createdAt | date: 'd MMM y h:mm a'}}</p>
                    </div>
                    <div class="export">
                        <a *ngIf="!item.processing" (click)="exportPatients(item._id._id, item._id.fileName)"><i class="fas fa-download"></i>&nbsp;Export Results</a>
                        <a *ngIf="item.processing" (click)="stillProcessingClicked()">Still Processing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!noPatientFound && currentView == 'table'" class="box mt-20" style="padding: 0px; margin-bottom: 20px;">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <td>
                            <p>File Name</p>
                        </td>
                        <td>
                            <p>Processor</p>
                        </td>
                        <td>
                            <p>Total Patients</p>
                        </td>
                        <td>
                            <p>Processing</p>
                        </td>
                        <td>
                            <p>Found</p>
                        </td>
                        <td>
                            <p>Dead</p>
                        </td>
                        <td>
                            <p>Error</p>
                        </td>
                        <td>
                            <p>{{thisUser.role == 'Admin' ? 'Owner' : 'Added On'}}</p>
                        </td>
                        <td>
                            <p>Export</p>
                        </td>
                        <td>
                            <p>Export File</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!list || !list.length">
                        <td colspan="7" class="text-center">No file found</td>
                    </tr>
                    <tr *ngFor="let item of list;">
                        <td (click)="getS3File(item._id.s3Key, item._id.fileName)">
                            <p style="color: #8400d9;" class="cell">{{item._id.fileName}} <i *ngIf="item._id.warning" [matTooltip]="item._id.warning" class="fas fa-exclamation-triangle warning"></i></p>
                        </td>
                        <td>
                            <p class="cell">{{item.whatis}}</p>
                        </td>
                        <td>
                            <p class="cell">{{item.total}}</p>
                        </td>
                        <td>
                            <p class="cell">{{item.processing}}</p>
                        </td>
                        <td>
                            <p class="cell">{{item.found}}</p>
                        </td>
                        <td>
                            <p class="cell">{{item.dead}}</p>
                        </td>
                        <td>
                            <p class="cell">{{item.error}}</p>
                        </td>
                        <td>
                            <p *ngIf="thisUser.role == 'Admin'" class="cell">{{item.owner}}</p>
                            <p *ngIf="thisUser.role != 'Admin'" class="cell">{{item._id.createdAt | date: 'd MMM y h:mm a'}}</p>
                        </td>
                        <td (click)="exportPatients(item._id._id, item._id.fileName)">
                            <p class="cell" style="color: #8400d9;"><i class="fas fa-download"></i>&nbsp;Export Results</p>
                        </td>
                        <td *ngIf="item._id.outputFileKey">
                            <p class="cell">Generated</p>
                        </td>
                        <td *ngIf="!item._id.outputFileKey" (click)="exportPatients(item._id._id, item._id.fileName,true)">
                            <p class="cell" style="color: #8400d9;"><i class="fas fa-download"></i>&nbsp;Generate</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
<div *ngIf="noPatientFound" style="background-color: white;" class="no-patient">
    <div class="no-patient-container">
        <div class="act-no-patient">
            <p>You need to import patients to get started. Click "Import Patients" button below to get started.</p>
            <div class="flex g-20 buttons">
                <div class="flex-child fc-100">
                    <button class="primary" routerLink="/app/import-patients"><i class="fas fa-upload"></i>&nbsp;Import Patients</button>
                </div>
            </div>
        </div>
    </div>
</div>