<div class="bc-contain">
    <div class="titles">
        <h3 class="primary-title">PATIENTS</h3>
        <div class="breadcrumb">
            <span class="item">Home</span>
            <i class="fas fa-caret-right"></i>
            <span class="item">Patients</span>
            <i class="fas fa-caret-right"></i>
            <span class="item active">View Patient</span>
        </div>
    </div>
    <div class="buttons">
        <!-- <button class="primary-btn" routerLink="/app/update/{{patientId}}"><i class="icon-edit"></i>&nbsp;Edit</button> -->
    </div>
</div>
<div class="flex mt-20 g-20">
    <div class="flex-child fc-50">
        <div class="box user-details">
            <div class="text-center">
                <div class="initials">{{patient.fName | initials}}</div>
                <p class="title">{{patient.fName}}, {{patient.lName}}</p>
                <div class="cats">
                    <p class="chip blue">{{patient.status}}</p>
                </div>
                <div class="text-left">
                    <div class="flex keyvalues g-20">
                        <p class="key fc-50"><i class="icon-email"></i>DoB</p>
                        <p class="value fc-50 ml-a text-right">{{patient.dob.month}}/{{patient.dob.day}}/{{patient.dob.year}}</p>
                    </div>
                    <div class="flex keyvalues g-20">
                        <p class="key fc-50"><i class="icon-email"></i>Subscriber Id</p>
                        <p class="value fc-50 ml-a text-right">{{patient.subscriberId}}</p>
                    </div>
                    <div class="flex keyvalues g-20">
                        <p class="key fc-50"><i class="icon-email"></i>Status</p>
                        <p class="value fc-50 ml-a text-right">{{patient.status}}</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="flex-child fc-50">
        <div class="box user-details">
            <div class="flex keyvalues g-20">
                <p class="key fc-50"><i class="icon-email"></i>Status</p>
                <p class="value fc-50 ml-a text-right">{{patient.status}}</p>
            </div>
            <ng-container *ngIf="patient.file && patient.file.objId && patient.file.objId.otherFileKeys && patient.file.objId.otherFileKeys.length">
                <div *ngFor="let key of patient.file.objId.otherFileKeys;" class="flex keyvalues g-20">
                    <p class="key fc-50"><i class="icon-email"></i>{{key}}</p>
                    <p class="value fc-50 ml-a text-right">{{patient.otherFields[key]}}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="logsList && logsList.length" class="box mt-20">
    <h1 class="title">Bot Logs</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <td><p>Bot Name</p></td>
                    <td><p>Activity</p></td>
                    <td><p>Log Time</p></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of logsList">
                    <td>
                        <p class="cell">{{item.botId.username}}</p>
                    </td>
                    <td>
                        <p class="cell">{{item.activity}}</p>
                    </td>
                    <td>
                        <div class="detailed">
                            <div class="second">
                                <p class="big">{{item.on ? (item.on | date: 'd MMM y') : '-'}}</p>
                                <p class="small">{{item.on ? (item.on | date: 'h:mm a') : '-'}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box mt-20" *ngIf="patient && patient.eligibilityRaw && patient.eligibilityRaw.length">
    <h1 class="title">Eligibility Raw Data</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <td><p>Title</p></td>
                    <td><p>Value/Table</p></td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of patient.eligibilityRaw">
                    <tr *ngIf="!item.colMds || (item.colMds && item.title == 'Results Table')">
                        <td>
                            <p class="cell">{{item.title}}</p>
                        </td>
                        <td *ngIf="!item.colMds">
                            <p class="cell">{{item.value}}</p>
                        </td>
                        <td *ngIf="item.colMds">
                            <table>
                                <tr *ngFor="let tr of item.colMds">
                                    <td *ngFor="let td of tr">{{td}}</td>
                                </tr>
                            </table>
                            <!-- <p class="cell">{{item.colMds}}</p> -->
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<div class="separator mt-20"></div>
<div *ngIf="patientId && patient && patient.metadata" class="item-history flex mt-20 g-20">
    <div class="fc-33 ind-history box">
        <p class="title">Created By</p>
        <div class="detailed">
            <div *ngIf="patient.metadata.createdBy && patient.metadata.createdBy.name" class="first">
                <div class="initials">{{patient.metadata.createdBy.name | initials}}</div>
            </div>
            <div class="second">
                <p class="big">{{patient.metadata.createdBy && patient.metadata.createdBy.name ? patient.metadata.createdBy.name : '-'}}</p>
                <p *ngIf="patient.metadata.createdOn" class="small">{{patient.metadata.createdOn | date: 'd MMM y h:mm a'}}</p>
            </div>
        </div>
    </div>
    <div class="fc-33 ind-history box">
        <p class="title">Last Edited By</p>
        <div class="detailed">
            <div *ngIf="patient.metadata.lastEditedBy && patient.metadata.lastEditedBy.name" class="first">
                <div class="initials">{{patient.metadata.lastEditedBy.name | initials}}</div>
            </div>
            <div class="second">
                <p class="big">{{patient.metadata.lastEditedBy && patient.metadata.lastEditedBy.name ? patient.metadata.lastEditedBy.name : '-'}}</p>
                <p *ngIf="patient.metadata.lastEditedOn" class="small">{{patient.metadata.lastEditedOn | date: 'd MMM y h:mm a'}}</p>
            </div>
        </div>
    </div>
    <div class="fc-33 ind-history box">
        <p class="title">Last Archived By</p>
        <div class="detailed">
            <div *ngIf="patient.metadata.deletedBy && patient.metadata.deletedBy.name" class="first">
                <div class="initials">{{patient.metadata.deletedBy.name | initials}}</div>
            </div>
            <div class="second">
                <p class="big">{{patient.metadata.deletedBy && patient.metadata.deletedBy.name ? patient.metadata.deletedBy.name : '-'}}</p>
                <p *ngIf="patient.metadata.deletedOn" class="small">{{patient.metadata.deletedOn | date: 'd MMM y h:mm a'}}</p>
            </div>
        </div>
    </div>
</div>