.settings-sidebar{
    box-shadow: 0px 1px 1px #0000000F;
    padding: 25px 15px 10px 15px;
    background-color: white;
    border-radius: 12px;
    .links{
        margin-top: 10px;
        margin-bottom: 20px;
        .link{
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            border-radius: 9px;
            transition: background-color .5s;
            i{
                color: #94A4C4;
                width: 25px;
                font-size: 22px;
                transition: color .5s;
                
            }
            span{
                color: #94A4C4;
                font-size: 16px;
                margin-left: 15px;
                font-weight: 300;
                transition: color .5s;
            }
        }
        .link.active,
        .link:hover{
            background-color: #b7eaef;
            i,span,p{
                color: #00285f;
            }
        }
    }
}